.meme-component{
    margin: 0;
    border: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.new-meme{
    color: white;
    background-color:  #2c1762;
   padding: 10px;
   margin: 10px 0px 10px 0px;
   border-radius: 5px;
   border: 0;
}

.meme-text{    
        position: absolute;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    
}

.meme-image{
    position: relative;
    max-width: 500px;
    max-height: 500px;
    
}
.meme{
    position: relative;
}

@media  (max-width: "375px") {
    .new-meme{
        margin: 50px 0px 50px 0px;
    }
    
}
.meme-Logo {
    width: 100px ;
    height: 75px;
}
@media  (max-width: "390px") {
    .meme-Logo {
        width: 10px ;
        height: 15px;
    }
}
.app-name{
    font-size: 25px;
}